* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #080808;
}

.line-break {
  display: block;
  padding: 1rem 0;
}

.container {
  width: 85%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container .title {
  font-size: 8rem;
  font-weight: 800;
}

.container .sub-title {
  color: #404040;
  font-size: 2.2rem;
  padding: 4rem 0 3rem;
}

#home {
  height: 100vh;
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
  display: flex;
}

#home .container p {
  font-size: 8rem;
  font-weight: 800;
}

#home .container p .underline-link {
  text-decoration: underline solid #14db14;
  -webkit-tap-highlight-color: transparent;
}

#about {
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
  display: flex;
}

#about .container .title {
  text-decoration: underline double #2b89ca;
}

#about .container .info {
  font-family: "Hind", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  color: #080808;
}

#work {
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
  display: flex;
}

#work .container .title {
  text-decoration: underline double #f13c43;
}

#work .container .projects {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#work .container .projects .eye-box {
  height: 26rem;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.8);
}

#work .container .projects .eye-box:last-child {
  grid-column: 2 / 3;
}

#work .container .projects .eye-box::after {
  content: '';
  background-color: rgba(0, 17, 34, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 500ms;
}

#work .container .projects .eye-box .project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#work .container .projects .eye-box .project .eye {
  color: #fff;
  font-size: 4rem;
  z-index: 10;
  position: absolute;
  left: -100%;
  transition: 500ms;
  -webkit-tap-highlight-color: transparent;
}

#work .container .projects .eye-box:hover::after, #work .container .projects .eye-box:focus::after {
  left: 0;
}

#work .container .projects .eye-box:hover .eye, #work .container .projects .eye-box:focus .eye {
  left: 44%;
}

#work .container .projects .project-1 {
  background: url("../img/indianensure.jpg") no-repeat center top/cover;
}

#work .container .projects .project-2 {
  background: url("../img/timesthen.jpg") no-repeat center top/cover;
}

#work .container .projects .project-3 {
  background: url("../img/grandhotel.jpg") no-repeat center top/cover;
}

#work .container .projects .project-4 {
  background: url("../img/portfolio.jpg") no-repeat center top/cover;
}

#connect {
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
  display: flex;
}

#connect .container .title {
  text-decoration: underline double #5f1478;
}

#connect .container .icons .icon-box {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

#connect .container .icons .icon {
  font-size: 3rem;
  margin: 0.4rem;
  padding: 0.2rem;
  transition: transform 400ms;
}

#connect .container .icons .icon:hover {
  transform: translateY(-4px);
}

@media (max-width: 1020px) {
  #work .container .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 820px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 56%;
  }
  #work .container .projects .eye-box::after {
    transition: 200ms;
  }
  #work .container .projects .eye-box .project .eye {
    transition: 200ms;
  }
  #work .container .projects .eye-box:active::after {
    left: 0;
  }
  #work .container .projects .eye-box:active .eye {
    left: 44%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 54%;
  }
  #work .container .projects {
    grid-template-columns: 1fr;
  }
  #work .container .projects .eye-box:last-child {
    grid-column: 1 / 2;
  }
  #work .container .projects .eye-box {
    height: 40rem;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 52%;
  }
  #work .container .projects .eye-box {
    height: 36rem;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 90%;
  }
  #work .container .projects .eye-box {
    height: 32rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 48%;
  }
  #home .container p {
    font-size: 6rem;
  }
  .container {
    width: 90%;
  }
  .container .title {
    font-size: 6rem;
  }
  #about .container .info {
    font-size: 3.6rem;
  }
  #work .container .projects .eye-box {
    height: 30rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 46%;
  }
  #home .container p {
    font-size: 5.8rem;
  }
  .container {
    width: 90%;
  }
  .container .title {
    font-size: 5.8rem;
  }
  #about .container .info {
    font-size: 3.4rem;
  }
  #work .container .projects .eye-box {
    height: 28rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
